
body {
background: #000;
color: #fff;
background-repeat: no-repeat;
min-height: 100vh;
font-size: 20;
font-family: 'Courier New', Courier, monospace;
justify-content: center;
margin: 0;
}
#intro{
    
    background: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

#start-button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#start-button:hover {
    background-color: #555;
    color: #fff;
}


header {
    padding: 20px;
    text-align: center;
    background: #222;
}



.film-title {
    cursor: pointer;
    color: black;
    background: #333;
    margin-bottom: 10px;
    text-decoration: none;
    min-height: 30px;
    min-width: 500px; /* Largeur minimale pour film-title */
    flex: 1; /* Pour que la liste occupe tout l'espace restant */
    padding: 200px;
    border-right: 1px solid #555; /* Séparation entre le menu et la liste */
    overflow-y: auto; /* Ajoutez une barre de défilement si nécessaire */
    margin: 200px auto; /* Centre le texte horizontalement */
    max-width: 800px; /* Limite la largeur à 800 pixels (ajustez selon vos besoins) */
    text-align: center;
}



.film-details {
    background: #333;
    display: none;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
    flex: 2; /* Pour que les détails occupent plus d'espace que le menu */
    padding: 10px; /* Hauteur minimale pour film-details */
    margin: 0 auto; /* Centre le texte horizontalement */
    max-width: 800px; /* Limite la largeur à 800 pixels (ajustez selon vos besoins) */
    border-left: 1px solid #555;
}



.affiche {
    margin-left: 30px;
}


.banniere{
    color: #333;
}
/* Dans votre fichier CSS (styles.css) */
#film-container {
    background: #222;
    display: flex;
    padding: 10px; /* Hauteur minimale pour film-details */
    margin: 0 auto; /* Centre le texte horizontalement */
    max-width: 800px; /* Limite la largeur à 800 pixels (ajustez selon vos besoins) */
}


.container1{
    border: 2px solid #555;
    margin: 20px auto;
    border-radius: 0.8em;
    width: 70%;
    color: #ffffff;
}


.text{
    text-align: center;
}

.text2{
    text-align: center;
}




.film-item {
    border: 2px solid #000000; 
    padding: 10px; 
    margin-bottom: 10px; 
}

#search-input {
    padding: 10px;
    border: 2px solid #333; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    width: 300px; /* Largeur de la barre de recherche */
    margin-bottom: 10px; /* Marge en bas pour l'espacement */
    font-size: 16px; /* Taille de la police */
    float: right; /* Aligner à droite */
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur pointeur au survol */
    float: right; /* Aligner à droite */
    margin-right: 10px;
}

/* Style du bouton de recherche au survol */
#search-button:hover {
    background-color: #555; /* Couleur de fond au survol */
}

#select-year,
#select-country {
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Marge à droite pour l'espacement */
}

/* Style du bouton de tri */
#sort-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Style du bouton de tri au survol */
#sort-button:hover {
    background-color: #555;
}

#sort-year{
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Marge à droite pour l'espacement */
    background-color: #fff;
    color: #333;
}

#sort-title{
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Marge à droite pour l'espacement */
    background-color: #fff;
    color: #333;
}








/* Styles pour les téléphones mobiles */
@media (max-width: 768px) {
    header {
        font-size: 16px; /* Réduire la taille de la police sur les téléphones */
    }

    .container {
        padding: 10px; /* Réduire la marge intérieure sur les téléphones */
    }

    .search-container {
        text-align: center; /* Centrer sur les téléphones */
        margin-bottom: 10px; /* Réduire l'espacement en bas sur les téléphones */
    }

    #search-input {
        width: 80%; /* Occuper la largeur sur les téléphones */
    }

    #search-button {
        padding: 4px 6px; /* Réduire le rembourrage du bouton sur les téléphones */
    }

    .filter-menu, .sort-menu {
        flex-direction: column; /* Disposition verticale sur les téléphones */
        align-items: center; /* Centrer les éléments sur les téléphones */
    }

    #select-year,
    #select-country {
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Marge à droite pour l'espacement */
    }
}
